github:
  access_token: github_personal_access_token
  refresh_interval: 30
  update_repository_interval: 60
  cache_dir: cache/
  # optional
  # api_endpoint: http://my.git.hub/api/v3
  # ssl_verify: false
  repositories_without_ci:
    - user/some_repo
adapters:
  blink1:
    enabled: false
    luminosity: 0.6
  any_bar:
    enabled: true
