github:
  access_token: github_personal_access_token
  refresh_interval: 30
  update_repository_interval: 60
  cache_dir: cache/
  # optional
  api_endpoint: http://my.git.hub/api/v3
  ssl_verify: false
blink1:
  luminosity: 0.6
